@font-face {
    src : url("./fonts/GamjaFlower-Regular.ttf"); 
    font-family: "Gamja Flower"; 
}

* {
    font-family: "Gamja Flower";
    word-break: keep-all;
}
html{
    width:100vw;
    font-size: 1vh;
}
h1 {
    margin-top: 10vh;
    font-size: 7.2rem;
    text-align: center;
}
h2 {
    font-size: 4rem;
    text-align: center;
    color:DarkBlue;
}
body {
    margin: 0px;
}
.inputValueSlider{
    height: 4vh;
    float: right;
    cursor: pointer;
}
.inputOption{
    color:MidnightBlue;
    font-size: 3.8rem;
    padding: 1.5vh;
    padding-left: 3vh;
    padding-right: 3vh;
    margin: 1vh;
    border-radius: 22px;
    background-color: Bisque;
}
.block{
    border-radius: 10px;
    padding:20px;
}
.notion{
    font-size: 20px;
    color: Crimson;
    text-align: center;
    width: 40vh;
    margin: auto;
    margin-top: 14px;
    display: block; 
}
.result{
    font-size: 3.2rem;
    padding: 5px;
}
.outerResultBox{
    padding: 20px;
    margin: 7px;
    margin-bottom: 10vh;
    border-radius: 14px;
    background-color: PaleTurquoise;
}
.soloButton{
    background-color: white;
    padding: 2vh 3vh;
    margin-top: 5vh;
    font-size: 5rem;
    border-color: CadetBlue;
    border-radius: 20px;
    text-decoration: none;
    cursor: pointer;
}
.inputButton{
    cursor: pointer;
    background-color: white;
    margin-top: 5vh;
    margin-bottom: 5vh;
    padding: 10px 12px;
    font-size: 2.2rem;
    border-color: BurlyWood;
    border-radius: 20px;
    text-decoration: none;
    width:12vh;
    margin: auto;
    display: block; 
}

.seeMore{
    cursor: pointer;
    background-color: white;
    margin:auto;
    margin-top: 2vh;
    margin-bottom: 1vh;
    padding: 10px 12px;
    font-size: 1.8vh;
    border-color: CornflowerBlue;
    border-radius: 20px;
    text-decoration: none;
    width:14vh;
    display: block; 
}

@media only screen and (min-aspect-ratio:4/5) {
    #portrait{
        display: none;
    }
    #outerGrid{
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    }
    #innerGrid1{
        display: grid;
        grid-template-columns: 1fr 50vh 1fr;
    }
    #innerGrid2{
        display: grid;
        grid-template-columns: 1fr 40vh 1fr;
    }
}

@media only screen and (max-aspect-ratio:4/5) {
    #portrait{
        display: none;
    }
    #outerGrid{
        display: grid;
        grid-template-columns: 1fr 50fr 1fr;
    }
    #innerGrid1{
        display: grid;
        grid-template-columns: 1fr 10fr 1fr;
    }
    #innerGrid2{
        display: grid;
        grid-template-columns: 1fr 5fr 1fr;
    }
    .inputValueSlider{
        width: calc(60vw - 18vh);
    }
    .result{ font-size:6vw;}
    h1 { font-size: 10vw; }
    h2 { font-size: 7vw; }
    .soloButton{ font-size: 9vw; }
}

@media only screen and (max-aspect-ratio:10/26) {
    #main{
        display: none;
    }
}

@media only screen and (min-aspect-ratio:40/10) {
    #main{
        display: none;
    }
}
